## DATA SCIENCE ECOSYSTEM

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Tensorflow

| Data Science Tools    |
| --------------------- |
| RStudio               |
| ApacheSpark           |
| Hadoop                |

### Below are a few examples of evaluating arithmetic expressions in Python.

 - $$x = {-b \pm \sqrt{b^2-4ac} \over 2a} $$
 - $(ax^2 + bx + c = 0)$

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60.
min=200
hours=min/60
print(min,"minutes=",hours,"hours")

200 minutes= 3.3333333333333335 hours

# **Objectives**
## List popular languages for Data Science
- Python
- Markdown
- Scala
- R

## Author
Carlos Escandón Álvarez